<ul class="popoverBox" data-ng-controller="PersonsController">
    <span class="glyphicon glyphicon-remove pull-right" data-ng-click="hidePopover()" style="margin:10px"></span>
    <li>
        <label for="name">Name<span class="req">*</span></label>
        <input type="text" id="name" name="name" class="form-control" ng-model="person.name" required novalidate/>
    </li>
    <li>
        <label for="email">Email<span class="req">*</span></label>
        <input type="text" id="email" name="email" class="form-control" ng-model="person.email" required novalidate/>
    </li>
    <li>
        <label for="group">Group</label>
        <input type="text" id="group" name="group" class="form-control" ng-model="person.group" required novalidate/>
    </li>
    <li>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" class="form-control" ng-model="person.location" required novalidate/>
    </li>
    <br>
    <button class="btn btn-primary flatbtn" ng-click="addPerson(hidePopover)">Add Person</button>
</ul>
