<!-- <div class="row container-fluid" data-ng-controller="HeaderController"> -->
<nav class="navbar navbar-default" role="navigation">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" class="col-md-12">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <a class="navbar-brand navbar-brand-2" href="#"><img src="/modules/core/img/pagelogo.png" class="img-responsive"/></a>
      <h1 class="navbar-text">Calendarize</h1>
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" class="col-md-12">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
        	<a href="/#!/">Plans & Pricing</a>
        </li>
        <li ui-route="/signin" ng-class="{active: $uiRoute}">
        	<a href="/#!/signin">Sign in</a>
        </li>
        <li ui-route="/signup" ng-class="{active: $uiRoute}">
			<a href="/#!/signup">Free trial</a>
		</li>
        <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-show="authentication.user">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
            	<a href="#">Edit Profile</a>
            </li>
            <li>
            	<a href="#">Change Password</a>
            </li>
            <li>
            	<a href="#">Sign out</a>
            </li>
          </ul>
        </li>
      </ul>
     </div>
  </div>
</nav>
	
</div>
</div>
