<section data-ng-controller="HomeController">
<div class="projectpuzzle">
    <div class="row intro">
        <div class="col-md-8">
            <h2 class="leadingIntro">
                Keeping track of changes & people is hard.
                <br>ProjectPuzzle <span class="introStyle">makes it easier</span>.
            </h2>
        </div>
        <div class="col-md-4">
            <img class="img-responsive text-center" src="modules/core/img/brand/screenshot-image.png" alt="Project Puzzle ScreenShot">
        </div>
    </div>
    <div class="row questions">
        <div class="col-sm-3">
            <div class="row">
                <img class="col-sm-4" src="modules/core/img/brand/calendar.png">
                <span class="col-sm-8 questionTxt">
                	When are you available?
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <img class="col-sm-4" src="modules/core/img/brand/wrench.png">
                <span class="col-sm-8 questionTxt">
                	Do you have enough to do?
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <img class="col-sm-4" src="modules/core/img/brand/people.png">
                <span class="col-sm-8 questionTxt">
                	Do you need more people?
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <p class="questionTxt">
                    Project puzzle will help you answer these questions
                </p>
            </div>
        </div>
    </div>
    <div class="row description">
        <div class="col-sm-6 text-center">
            <button class="btn btn-danger btn-info">Start using ProjectPuzzle in 12seconds</button>
        </div>
        <div class="col-sm-6 text-left">
            <p>
                ProjectPuzzle is a project scheduling tool.
                <br>
                 By tracking your current projects and who's working on them and when, you'll have a clear picture of what's going on.
            </p>
        </div>
    </div>
    <div class="row screenshots">
        <div class="col-md-4 text-center alpha">
            <img class="img-responsive text-center" src="modules/core/img/brand/screenshot-01.png" alt="Project Puzzle ScreenShot">
            <p class="imgxt">
                Switch between projects view or people view on the timeline. See which projects need people, or which people need projects.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive text-center" src="modules/core/img/brand/screenshot-02.png" alt="Project Puzzle ScreenShot">
            <p>
                Switch between projects view or people view on the timeline. See which projects need people, or which people need projects.
            </p>
        </div>
        <div class="col-md-4 omega">
            <img class="img-responsive text-right" src="modules/core/img/brand/screenshot-03.png" alt="Project Puzzle ScreenShot">
            <p>
                Switch between projects view or people view on the timeline. See which projects need people, or which people need projects.
            </p>
        </div>
    </div>
    <div>
    	<h3>
    		Plans & Pricing
    	</h3>
    	<div class="row text-center pricing">
	    	<div class="col-md-4 plan text-center">
	    		<h3>
	    			<strong>Premium</strong> $ 100/month
	    		</h3>
	            <p class="text-center">
	 				Unlimited People
	 				<br>
					Unlimited Projects
	            </p>
	        </div>
	        <div class="col-md-4 plan text-center">
	    		<h3>
	    			<strong>Premium</strong> $ 100/month
	    		</h3>
	            <p class="text-center">
	 				Unlimited People
	 				<br>
					Unlimited Projects
	            </p>
	        </div>
	        <div class="col-md-4 plan text-center">
	    		<h3>
	    			<strong>Premium</strong> $ 100/month
	    		</h3>
	            <p class="text-center">
	 				Unlimited People
	 				<br>
					Unlimited Projects
	            </p>
	        </div>
        </div>
    </div>
    <div class="row text-center trial">
        <button class="btn btn-danger btn-info">Start using ProjectPuzzle in 12seconds</button>
    </div>
    <br>Enjoy &amp; Keep Us Updated,
    <br>The MEAN.JS Team.
    </div>
</section>
