<section class="row" data-ng-controller="AuthenticationController">
  <div class="container-fluid">
    <h2>
    You’re now signing up for a<strong> 30-day free trial </strong><br>of ProjectPuzzle
  	</h2>
  	<div class = "container">
      <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group">
            <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.username">
            <span class="hint">For example, your own name or the name of your company.</span>
          </div>
          <div class="form-group">
            <label for="user-name">Your name *</label>
            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.name">
          </div>
          <div class="form-group">
            <label for="email">Email address *</label>
            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email">
            <span class="hint">Will be used for login, and nothing else.</span>
          </div>
          <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
          </div>
          <div class="form-group">
            <label for="password-confirm">Password confirmation *</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.confirmpassword">
          </div>
          <div class = "form-group">
          	<label for="tikbox">
          	<input type ="checkbox" data-ng-model="credentials.country">
          	My company is based in Sweden
          	</label>
          	<span class="hint">or if you are not a company, but you live in Sweden.</span>
          </div>
          <div class = "form-group">
          	<button type="submit" class="submit-button">Create account</button>
        	</div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
      <br><br>
	      <h2 class="heading"><strong>No obligation </strong>trial</h2>
	      <p class="note">You can try out ProjectPuzzle for free for 30 days. At any point during your trial, you can upgrade to one of our paid plans. If you choose not to, just let your trial run out, you will not be billed anything. You never need to worry about payment unless you explicitly provide your payment details.</p>
	      <h2 class="heading">What do I do if I want to <strong>upgrade</strong>?</h2>
	      <p class="note">If you want to upgrade to one of our paid plans, you can do so from the account settings page inside the application. After you have provided your payment details, you will be billed monthly until you choose to terminate your subscription. You will receive a final bill upon termination, whereafter no further billing will occur.</p>
	      <h2 class="heading">When will I be <strong>billed</strong>?</h2>
	      <p class="note">After your free trial, you will be billed on a monthly basis.</p>
	      <h2 class="heading">Can I <strong>cancel my account</strong>?</h2>
	      <p class="note">Yes, you can cancel your account at any time. After you've cancelled, you won't be billed again. If you cancel during your trial, you won't be billed at all.</p>
	      <h2 class="heading">I have more <strong>questions</strong>  before I sign up!</h2>
	      <p class="note">You're always welcome to contact us at <a>support@projectpuzzle.com</a> if you have any questions about the service, or about any of our plans or payment processes.</p>
  </div>
</section>

