@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

body {
	font-family: 'Oswald', impact, sans-serif !important; 
}

.navbar-brand-2 {
	padding: 0 !important; 
}

.navbar-text {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 28px;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.questions {
	padding-top: 40px;
	margin: 0 auto;
}

div .questionTxt-last {
	border-radius: 4px;
	font-size: 16px;
	font-style: normal;
	background:  #e7f4fa;
	padding: 14px 2px 14px 12px;
	display: block;
}

.description{
	background: #f9f9f9;
	padding-top: 50px;
	margin: 20px auto;
	margin-bottom: 50px;
}

.free-trial {
    background: none repeat scroll 0 0 #FF654C;
    color: #FFF;
    /*margin: 20px auto;*/
}

.free-trial:hover {
    color: #FFF;
	background: #e55842;
}

.button {
    border-radius: 2px;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
}

.pricing {
	margin: 0 auto;
}

.plan{
	background: #e7f4fa;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.imgxt {
	margin-bottom: 30px;
}

.screenshots, .pricing {
	border-bottom: 1px dotted #e5e5e5;
}

.button-last {
	margin-top: 30px;
}

@media (max-width: 768px) {
	.imgxt {
	margin-bottom: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
	width: 25em;
}

.project-description {
	text-align: center;
	margin-top: 10px;
	line-height: 1.5em;
}

.mobile-username {
	margin-left: 30px;
}
}

/*FOOTER CSS*/
.footer {
	font-size: 12px;
	text-align: center;
	position: relative;
	margin-top: 30px;
	background: #f9f8f8;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer, .footer a:link, .footer a:visited {
	color: #bababa;
	text-decoration: none;
}
p {
	margin-bottom: 6px;
}
    .footer a:link:hover, .footer a:visited:hover {
      color: #ff654c; 
}
.footer a:link .symbol, .footer a:visited .symbol {
      background: url("/modules/core/img/logo-elabs.png") no-repeat top left;
      width: 26px;
      height: 26px;
      display: inline-block;
      margin-left: 5px;
      text-indent: -999999px;
      opacity: 0.5; 
}
.footer a:link:hover .symbol, .footer a:visited:hover .symbol {
      opacity: 1; 
}

/*@media (min-width : 320px) and (max-width : 480px) {*/
/* Styles */
/*********************
HEADER STYLING
*********************/
/*.grid_12, .container_12 {
	width: 100%;
}

.header h1 {
    margin: 18px 0;
    float: left;
    clear: both;
}

.header ul {
	margin-top: 0;
	margin-right: 13px;
	margin-left: -50px;

}

.header ul li {
	margin-left: 30px;
}

.header ul li.free-trial a {
    margin-left: 0;
}

.button.free-trial {
    margin-left: 12px;
}

.header li a {
    float: right;
}*/

/******************
   HOME STYLING
******************/
/*.leadingIntro {
	font-size: 15px;
	margin-left: -10px;
	margin-top: 10px;
	width: 15em;
	word-wrap: break-word;
}

.intro {
	width: 90%;
	
}

.screenshot_image {
	width: 15em;
	margin-top: 80px;
	margin-left: -350px;
}

.questionTxt{
	font-size: 15px;
}

div .questionTxt em {
	margin-top: 25px;
	font-size: 15px;
	line-height: 1.2;
	width: 20em;
}

div .questionTxt em:before {
    display: none;
}

.description {
    width: 100%;
    padding: 0;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}

.description_p {
	width: 18em;
	word-wrap: break-word;
	margin-bottom: 0;
	font-size: 15px;
	margin-top: 10px;
}

.screenshots {
	margin: 38px -35px 20px;
	width: 25em;
}

.pricing  {
	width: 64em;
	padding-right: 10px;
	padding-right: 55px;
}

.trial {
	padding-right: 135px;
	width: 25em;
	line-height: 26px;
	margin-left: 0px;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}

.imgxt {
	margin-left: -10px;
}

.all_pricing, .short_border_div h2:after {
border-bottom: none;
}

.plan_pricing {
border-top: none;
}
}*/

/*.projectpuzzle {
	margin: -55px 5px;
}

.leadingIntro {
	font-size: 16px;
	margin-left: 0px;
	margin-top: 60px;
	width: 15em;
	word-wrap: break-word;
}

.questions {
	margin-left: -20px;
	width: 100%;
}

.questionTxt{
	font-size: 15px;
}

div .questionTxt em {
	margin-top: 20px;
	border-radius: 0;
	font-size: 12px;
	padding: 15px;
}

div .questionTxt em:before {
    display: none;
}

.description {
    width: 100%;
    padding: 0;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}

.description_p {
	width: 25em;
	word-wrap: break-word;
	margin-bottom: 0;
	font-size: 12px;
	margin-top: 10px;
}

.screenshots {
	margin: 38px -21px 20px;
	width: 25em;
}

.pricing  {
	width: 64em;
	padding-right: 10px;
	padding-left: 3px;
}

.trial {
	padding-right: 135px;
	width: 25em;
	line-height: 26px;
	margin-left: 0px;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}

}*/

/*@media (max-width : 768px) {*/
/* Styles */
/*********************
    HEADER STYLING
*********************/
/*.grid_12, .container_12 {
	width: 100%;
}

.header h1 {
    margin: 20px 0px;
    float: left;
}

.header ul {
	float: right;
	margin: -62px 82px 32px;*/
	/*margin: 34px 82px 30px;*/



/******************
   HOME STYLING
******************/
/*.short_border_div h2:after {
	margin-top: 62px;
}

.leadingIntro {
	width: 392px;
}

.intro {
	width: 120%;
}

.screenshot_image {
	width: 64%;
	margin-top: 35px;
}*/
/*
.questions {
	margin-left: -20px;
	width: 100%;
}

.questionTxt{
	font-size: 15px;
}

div .questionTxt em {
	margin-top: 20px;
	border-radius: 0;
	font-size: 12px;
	padding: 15px;
}

div .questionTxt em:before {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;  
}

.description {
    width: 100%;
    padding: 0;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}

.description_p {
	width: 25em;
	word-wrap: break-word;
	margin-bottom: 0;
	font-size: 12px;
	margin-top: 10px;
}

.screenshots {
	margin: 38px -21px 20px;
	width: 25em;
}

.pricing  {
	width: 64em;
	padding-right: 10px;
	padding-left: 10px;
}

.trial {
	padding-right: 135px;
	width: 25em;
	line-height: 26px;
	margin-left: 0px;
}

.trial_two {
	padding-right: 143px;
	padding-left: 0;
	width: 441px;
	line-height: 26px;
}*/


