<section data-ng-controller="CalendarizesController">
    <script type="text/ng-template" id="popover">
        <ul class="popoverBox" data-ng-controller="CalendarizesController">
            <li><label for="project">Name*</label><br><input type="text" id="name" name="name" class="form-control" ng-model="project.name" required novalidate/></li><br>
            <button class="btn btn-primary" ng-click="addProject()">Create</button>
        </ul>
    </script>
    <div ns-popover ns-popover-template="popover" ns-popover-trigger="click" ns-popover-placement="right" ns-popover-hide-on-click="false" class="test">
        Popover
    </div>
</section>
    <!-- Modal Test-->

    <!--<script type="text/ng-template" id="myModalContent.html">-->
        <!-- <div class="modal-header">
            <h3 class="modal-title">Testing</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat ="item in items"></li>
                <a ng-click="selected.item = item">{{ item }}</a>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    <!--</script> -->
    <!--<section data-ng-controller ="CalendarizesController"> 
    <button class ="btn btn-primary" ng-click = "open()">Push</button>
	</section> -->